<!DOCTYPE html>
<html lang="en">

<head>
    <title>PEOPLE HEALTH PHARMACY INC.</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/one-page-wonder.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../css/jquery-3.2.0.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="../js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-datepicker3.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<script>
    $(document).ready(function(){

    })
</script>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PHP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About Group 7</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
<!--
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Edit Sales</h1>
            </div>
        </div>
    </header>
-->
    <!-- Page Content -->
    <h2>Old record:</h2>
  <hr class="featurette-divider">
    <table class = "table">
      <thead>
        <tr>
          <td>No.</td>
          <td>Name</td>
          <td>Quantity</td>
          <td>Time</td>
          <td>Week in Year</td>
        </tr>
      </thead>
      <tbody>
        <td><%=edit_sale.id%></td>
        <td><%=edit_sale.name%></td>
        <td><%=edit_sale.quantity%></td>
        <td><%=edit_sale.date%>-<%=edit_sale.month%>-<%=edit_sale.year%> <%=edit_sale.hour%>h<%=edit_sale.minute%>'</td>
        <td><%=edit_sale.weekyear%></td>
      </tbody>
    </table>
      <h2>Edit:</h2>
    <hr class="featurette-divider">
    <form class="" action="../edit" method="POST" enctype="application/x-www-form-urlencoded">


      <input type="hidden" value="<%=edit_sale.id%>" name="id">
      <div class="form-group" class = "">
        <label for="Type">Type:</label>

        <select class="form-control" id="Type" name="name">
          <% items.rows.forEach(function(item){ %>
              <option><%=item.name%></option>
            <%
          })%>
          <!--
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        -->
        </select>


      </div>

      <div class="form-group">
        <label for="Quantity">Quantity</label>
        <select class="form-control" id="Quantity" name="quantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input class="form-control" value="<%=edit_sale.date%>" name="date" >
      </div>

      <div class="form-group">
        <label for="month">Month</label>
        <input class="form-control" value="<%=edit_sale.month%>" name="month" >
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control" value="<%=edit_sale.year%>" name="year" >
      </div>

      <div class="form-group">
        <label for="hour">Hours</label>
        <input class="form-control" value="<%=edit_sale.hour%>" name="hour" >
      </div>

      <div class="form-group">
        <label for="min">Minute</label>
        <input class="form-control" value="<%=edit_sale.minute%>" name="min" >
      </div>

      <div class="form-group">
        <label for="weekinYear">Week No.</label>
        <input class="form-control" value="<%=edit_sale.weekyear%>" name="weekinYear" >
      </div>

      <div class="form-group">
        <input class="form-control hide" value="<%=edit_sale.name%>" name="oldName">
      </div>

      <div class="form-group">
        <input class="form-control hide" value="<%=edit_sale.quantity%>" name="oldQuantity" >
      </div>


      <div class="submitbutton">
          <button class="btn btn-default">Submit</button>
      </div>
    </form>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
