<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PEOPLE HEALTH PHARMACY INC.</title>

    <!--
    <!-- Bootstrap Core CSS
    <link href="../../css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="../../css/one-page-wonder.css" rel="stylesheet">

    <!-- jQuery
    <script src="../../css/jquery-3.2.0.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<script>
    $(document).ready(function(){
      $('#search').on('click',function(){
          var search = $(".search_domain").val();
          search = '.' + search;
          if (search.length !== 1){
            $('.showing').hide();
            $(search).show();
          }
          else {
            $('.showing').show();
          }

        });
    })
</script>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PHP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About Group 7</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->

    <!-- Page Content -->
    <hr class="featurette-divider">
    <div id="custom-search-input">
         <div class="input-group col-md-12">
             <input type="text" class="search-query form-control search_domain" placeholder="Search" />
             <span class="input-group-btn">
                 <button class="btn btn-danger" type="button" id ="search">
                     <span class=" glyphicon glyphicon-search"></span>
                 </button>
             </span>
         </div>
    </div>
    <hr class="featurette-divider">
    <table class = "table">
      <thead>
        <tr>
          <td>No.</td>
          <td>Name</td>
          <td>Quantity</td>
          <td>Time</td>
          <td>Week in Year</td>
          <td><a href="../add">Add Sales</a></td>
        </tr>
      </thead>
      <tbody>
        <% list.rows.forEach(function(sale){ %>
          <tr class='showing <%=sale.name%>'>
            <td><%=sale.id%></td>
            <td><%=sale.name%></td>
            <td><%=sale.quantity%></td>
            <td><%=sale.date%>-<%=sale.month%>-<%=sale.year%> <%=sale.hour%>h<%=sale.minute%>'</td>
            <td><%=sale.weekyear%></td>
            <td><a href="../../edit/<%=sale.id%>">Edit</a>  <a href="../../remove/<%=sale.id%>">Remove</a></td>
          </tr>
          <%
        }); %>


      </tbody>
    </table>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

</body>

</html>
